<!--For Bootstrap datepicker-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous">
    </script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>

<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a data-toggle="tab" href="#lg2">
                            <h4> Add Flash Deal </h4>
                        </a>
                    </div>
                    <div id="lg2" class="tab-pane">
                        <div class="login-form-container">
                            <div class="billing-info-wrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form action="#" method="post">

                                    {{!-- <br>ID: {{id}}
                                    <!-- Good to use my catalouge id as a foriegn key--> Product Name: {{name}} Price:
                                    {{price}} Image <img src="/uploads/products/{{image}}" width="50" height="auto"> --}}

                                    <div class="billing-info mb-20">
                                        <label for="name">Product Name<span style="color: red;">*</span></label>
                                        <select id="pname" name="pname" class="form-control" type="text" value="" required >
                                            {{#each shopprod}}
                                            <option value="{{id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                    <br>
                                    </div>
                                    <div class="billing-info mb-20">
                                        <label for="name">Discounted Price ($)<span style="color: red;">*</span></label>
                                        <input id="discountp" name="discountp" class="form-control" type="text"
                                            value="" required>
                                    </div>
                                    <br>
                                    <label for="event">Event<span style="color: red;">*</span></label>
                                    <div class="checkout-account">
                                        <input type="checkbox">
                                        <span>EVENT ONE</span>
                                    </div>
                                    <div>EVENT ONE Description</div>
                                    <br>
                                    <div class="checkout-account">
                                        <input type="checkbox">
                                        <span>EVENT TWO</span>
                                    </div>
                                    <div>EVENT TWO Description</div>
                                    <br>
                                    <div class="checkout-account">
                                        <input type="checkbox">
                                        <span>EVENT THREE</span>
                                    </div>
                                    <div>EVENT THREE Description</div>
                                    <br><br>
                                    <div class="button-box">
                                        <button type="submit" class="btn btn-outline-info"
                                            style="font-size: 14px; font-weight: 420; padding-top: 8px; padding-bottom: 8px;padding-left: 28px; padding-right: 28px"><span>Confirm</span></button>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        value: new Date().toLocaleDateString('EN-SG'),
        uiLibrary: 'bootstrap4',
    });
    $('#datepicker2').datepicker({
        format: 'dd/mm/yyyy',
        value: new Date().toLocaleDateString('EN-SG'),
        uiLibrary: 'bootstrap4',
    });
</script>
