<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Courses You Offer</li>
            </ul>
        </div>
    </div>
</div>
<div class="Blog-area pt-100 pb-100">
    <div class="container">
        <!-- <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="ml-20"> -->
        <a href="/tailor/createcourse" style="font-size: 20px; font: 20px;"> <i class="fa fa-plus"></i> ADD COURSE</a>

        <br><br>

        <div class="row">
            <!--for loop?????????-->
            {{#if course}}
            {{#each course}}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-wrap-2 mb-30">
                    <div class="blog-img-2">
                        <!-- <img src="public/img/sewimg2.jpg"> -->
                        <a href="single-product.html"><img src="/uploads/courseimg/{{thumbnail}}"
                                style="height:150px; width: 100%;"></a>
                    </div>
                    <div class="blog-content-2">

                        <h4>{{ctitle}}</h4>
                        <div class="blog-meta-2">
                            {{!-- erms --}}
                        {{#each user}}
                            <p>By {{shopname}} </p>
                        {{/each}}
                        </div>
                        <br>
                        <div>
                            <p>{{description}}</p>
                        </div>

                        <div class="blog-share-comment">
                            <br>
                            <hr>
                            <br>
                            <div class="blog-share" style="float: right;">
                                <span style="font-size: 25px;">$ {{price}}</span>
                            </div>
                        </div>
                        <div class="blog-btn-2">
                            <a href="/tailor/updatecourse/{{id}}">Edit</a> &nbsp;
                            <a href="/tailor/addcontent/{{id}}">Content</a> &nbsp;
                            <!-- <a href="/deletecourse">Delete</a> -->
                            
                            <form action="/tailor/deletecourse/{{id}}" method="POST" style="display: inline-block;">
                                <button type="button" style="border:none; background: none; display: inline-block; hover:#9603ff;"
                                    data-toggle="modal" data-target="#myModal_{{id}}">Delete</button>
                                <!-- The Modal -->
                                <div class="modal" id="myModal_{{id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete Confirmation</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                Are you sure you want to delete {{title}}?
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cancel</button>
                                                <button type="submit" value="Delete"
                                                    class="btn btn-danger">Delete</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                           
                        
                        </div>

                    </div>
                </div>
            </div>
            {{/each}}
           
            {{/if}}
     

        </div>
        
    </div>
</div>
</div>

</div>
</div>