<header class="header-area header-padding-1 sticky-bar header-res-padding clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                <div class="logo">
                    <a href="/customer/homecust">
                        <img alt="" src="/img/logo/logo.png">
                    </a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="/viewshops">View Shops <i class="fa fa-angle-down"></i></i></a>
                                <ul class="submenu">
                                    <li><a href="">Course Catalouge</a></li>
                                    <li><a href="/viewshops">Product Catalouge</a></li>
                                </ul>
                            </li>

                            <li><a href="">My Courses</a>
                            </li>
                            <li><a href="/customer/flashdeals">Flash Deals</a>
                            </li>

                            <li><a href="/faq">Help </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                <div class="header-right-wrap">
                    <div class="same-style header-search">
                        {{#if user.username}}
                        <button type="button" onclick="clear_new()" class="search-active"
                            style="border:none; background: none;">

                            <i class="fa fa-bell-o" style="font-size:20px"></i>
                            {{!-- New notification --}}
                            <span id="new_noti"
                                style="position: absolute; top: -9px; right: -5px; background-color: #000; color: #fff; display: inline-block; width: 21px;height: 21px;border-radius: 100%;line-height: 21px;font-size: 12px; text-align: center;">{{unreadNoti}}</span>
                        </button>
                        {{>_notifications}}
                        {{/if}}
                    </div>
                    <div class="same-style account-satting">
                        <a class="account-satting-active" href="#">{{#ifCond user.photo '==' null}}<i
                                class="pe-7s-user-female"></i>{{/ifCond}}{{#ifCond user.photo '!=' null}}{{#ifCond
                            user.usertype '!=' "customer"}}<i class="pe-7s-user-female"></i>{{else}}<img
                                src="/uploads/user/{{user.photo}}" alt="Profile Pic" width="25" height="25"
                                style="border-radius: 50%;">{{/ifCond}}{{/ifCond}}</a>

                        <div class="account-dropdown">
                            <ul>
                                {{#if (eq user.usertype "customer")}}
                                <li>{{user.firstname}}{{user.lastname}}</li>
                                {{!-- user account problem --}}
                                <li><a href="/customer/custaccount/{{user.id}}">Edit Profile</a></li>
                                <li><a href="/customer/clogout">Log Out</a></li>
                                {{else}}
                                <li><a href="../customer/custlogin">Login</a></li>
                                <li><a href="../customer/custregister">Register</a></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div class="same-style header-wishlist">
                        <a href="/c/inbox/0"><i class="pe-7s-chat"></i></a>
                    </div>
                    <div class="same-style cart-wrap">
                        <button class="icon-cart">
                            <i class="fas fa-shopping-cart"></i>
                            {{sess.myCart.count}}
                            
                            <span class="count-style">{{cartTotalQuantity}}</span>
                        </button>
                        <div class="shopping-cart-content">
                            <ul>
                                <li><a href="/customers_checkout">Orders Cart</a></li>
                                <li><a href="">Course Cart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-menu-area">
            <div class="mobile-menu">
                <nav id="mobile-menu-active">
                    <ul class="menu-overflow">
                        <li><a href="/viewshops">View Shops</a></li>
                        <li><a href="">Courses</a>
                            <ul>
                                <li><a href="">View Courses Available</a></li>
                                <li><a href="">My Courses</a></li>
                            </ul>
                        </li>
                        <li><a href="/faq">Help </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        var action = 0;

        function clear_new() {
            if ( action == 1 ) {
                action = 2;
                var elms = document.querySelectorAll("[id='notification-unread']");
                for(var i = 0; i < elms.length; i++) {
                    elms[i].style.background = "#FFFFFF";
                }
                document.getElementById("new_noti").innerText = '0';
            } else {
                action = 1;
                io.emit("markAsRead_noti", "{{user.username}}");
            }
        }
        
        
    </script>
</header>
