<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Acceptance of Order</li>
            </ul>
        </div>
    </div>
</div>
<div class="error-area pt-40 pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 text-center">
                <div class="error">
                    {{#ifCond OrdersDetails.id '==' id }}
                    <h1 style="font-size:30px">You have accepted the Order. Please Deliver it by {{OrdersDetails.deliverytime}} Today.
                        {{OrdersDetails.deliverydate}} </h1>
                    <h2>Details: </h2>
                    <p>Customer:{{OrdersDetails.username}}</p>
                    <p>{{deliveryfee}}</p>
                    <p>By when: {{OrdersDetails.deliverydate}}</p>
                    <p>Pick Up Location:<br>{{OrdersDetails.address1}}<br>{{OrdersDetails.address2}}<br>{{OrdersDetails.city}} {{OrdersDetails.postalcode}}<br>
                    </p>
                    <p>Delivery Location: {{OrdersDetails.shopname}}<br>{{OrdersDetails.address1}}<br>{{OrdersDetails.address2}}<br>{{OrdersDetails.city}}
                        {{OrdersDetails.postalcode}}
                    </p>
                    {{/ifCond}}
                    <a href="/rider/rideroutecheck/{{id}}" class="error-btn">Check Route</a>
                    <a href="/rider/homerider" class="error-btn">Back to home page</a>
                </div>
            </div>
        </div>
    </div>
</div>
