<style type="text/css">
    @import url("/css/map.css");
</style>

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Route Details</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-area pt-100 pb-100" style="width: auto;">
    <div class="container">
        <form action="/map/{{OrdersDetails.id}}?_method=PUT" method="post" enctype="multipart/form-data"
            class="form-horizontal" id="acceptForm" style="display: none;">
            <div class="container-fluid">
                <div class="col-xs-4">
                    {{#ifCond OrdersDetails.id '==' id }}
                    <label for="from" class="col-xs-2 control-label"><i class="far fa-dot-circle"></i></label>
                    <input type="text" id="from" placeholder="Origin" class="form-control"
                        value="{{OrdersDetails.address1}} {{OrdersDetails.address2}} {{OrdersDetails.city}} {{OrdersDetails.postalcode}}">
                </div>
                <div class="form-group">
                    <div class="col-xs-4">
                        <label for="to" class="col-xs-2 control-label"><i class="fas fa-map-marker-alt"></i></label>
                        <input type="text" id="to" placeholder="Destination" class="form-control"
                            value="{{User.shopname}} {{User.address1}} {{User.address2}} {{User.city}} {{User.postalcode}}">
                        {{/ifCond}}
                    </div>
                </div>
        </form>
    </div>
    <div class="contact-map mb-10">
        {{!-- <div id="map"></div> --}}
        <div class="container-fluid">
            <div id="googleMap">
            </div>
            <div id="output">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="custom-row-2">
            <div class="col-lg-4 col-md-5">
                <div class="contact-info-wrap">
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p><a href="#">Time Now</a></p>
                            <div id="time"></div>
                        </div>
                    </div>
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact-info-dec">
                            {{#ifCond OrdersDetails.id '==' id }}
                            <p>Destination </p>
                            <p>{{OrdersDetails.shopname}} {{OrdersDetails.address1}} {{OrdersDetails.address2}}
                                {{OrdersDetails.city}} {{OrdersDetails.postalcode}}</p>
                            {{/ifCond}}
                        </div>
                    </div>
                    <div class="single-contact-info">
                        <div class="contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="contact-info-dec">
                            <p>Customer Emergency Contact</p>
                            <p>+65 9832 2343</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="contact-form">
                    <div class="contact-title mb-30">
                        {{#ifCond OrdersDetails.id '==' id }}
                        <h2>Delivery Details: </h2>
                    </div>
                    <form action="/chatwith/{{User.username}}" method="post">
                        <button style="border: 0; padding: 0; display: inline; background: none; text-decoration: underline;"><i class="pe-7s-chat"></i>Via Contact Customer</button>
                    </form>
                    <p>Customer: {{User.username}}</p>
                    <p>Delivery Date: {{User.deliverydate}}</p>
                    <p>Pick Up
                        Location:{{User.address1}}<br>{{User.address2}}<br>{{User.city}}
                        {{User.postalcode}}</p>
                    {{/ifCond}}
                    <br>
                    <div class="pro-details-cart btn-hover">
                        <form action="/rider/rordercompleted/{{id}}?_method=PUT" method="post" id="acceptForm">
                            <input type="hidden" name="_method" value="PUT">
                            <input style="padding-right: 60px; padding-left:50px; margin-left:-10px;" type="submit"
                                name="upvote" value="Order Delivered" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7WArNAN7RKK-Zcx9KBEIHNXzSlW0P1j4&libraries=places"></script>
<script src="/js/map.js"></script>
<script>
    window.onload = function () {
        calcRoute();
    }
    var today = new Date();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    document.getElementById("time").innerHTML = time;
</script>
