<style type="text/css">
    @import url("/css/map.css");
</style>
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Shop Details </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details">
                    <div class="product-details-img">
                        <div class="tab-content jump">
                            <div id="shop-details-2" class="tab-pane active large-img-style">
                                <div class="container-fluid">
                                    <div id="googleMap">
                                    </div>
                                    <div id="output">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <div class="product-details-content ml-70">
                        {{#each OrdersDetails}}
                        <h2>Customer: {{username}}</h2>
                        <br>
                        <p>Delivery Date: {{deliverydate}}</p>
                        <p>Delivery Time: {{deliverytime}}</p>
                        <p>Pick Up Location:{{address1}}<br>{{address2}}<br>{{city}} {{postalcode}}<br>
                        </p>
                        {{#each ../User}}
                        {{#ifCond shopname '==' ../shopname}}
                        <p>Delivery Location: {{shopname}}<br>{{address1}}<br>{{address2}}<br>{{city}}
                            {{postalcode}}
                        </p>
                        {{/ifCond}}
                        {{/each}}
                        {{/each}}
                        <div class="pro-details-quality">
                            <div class="pro-details-cart btn-hover">
                                <form action="/rider/racceptorder/{{id}}?_method=PUT" method="post" id="acceptForm">
                                    <input type="hidden" name="_method" value="PUT">
                                    <input style="padding-right: 60px; padding-left:50px; margin-left:-10px;"
                                        type="submit" name="upvote" value="Accept" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/map/{{OrdersDetails.id}}?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="col-xs-4">
            {{#each OrdersDetails}}
            <input type="hidden" id="from" placeholder="Origin" class="form-control"
                value="{{address1}} {{address2}} {{city}} {{postalcode}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-4">
            {{#each ../User}}
            {{#ifCond shopname '==' ../shopname}}
            <input type="hidden" id="to" placeholder="Destination" class="form-control"
                value="{{shopname}} {{address1}} {{address2}} {{city}} {{postalcode}}">
            {{/ifCond}}
            {{/each}}
            {{/each}}
        </div>
    </div>
</form>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7WArNAN7RKK-Zcx9KBEIHNXzSlW0P1j4&libraries=places"></script>
<script src="/js/map.js"></script>
<script>
    window.onload = function () {
        calcRoute();
    }
</script>
