<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
  <div class="container">
    <div class="breadcrumb-content text-center">
      <ul>
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="active"> Register Customer</li>
      </ul>
    </div>
  </div>
</div>
<div class="login-register-area pt-100 pb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 ml-auto mr-auto">
        <div class="login-register-wrapper">
          <div class="login-register-tab-list nav">
            <a data-toggle="tab" href="#lg2">
              <h4> register Customer </h4>
            </a>
          </div>
          <div id="lg2" class="tab-pane">
            <div class="login-form-container">
              <div class="login-register-form">
                <form method="post" action=""  enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="firstname" placeholder="First Name" value="{{firstname}}" required>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="lastname" placeholder="Last Name" value="{{lastname}}" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="User Name" value="{{username}}" required>
                  </div>
                  <div class="form-group">
                    <label>Password (Password must contain at least eight characters with at least one uppercase letter,
                      one lowercase letter, one number and one special character)</label>
                    <input type="password" name="password" placeholder="Password" value="{{password}}" id="password"
                      required>
                    <input type="checkbox" onclick="showpassword()">Show Password
                  </div>
                  <div class="form-group">
                    <label>Enter password again</label>
                    <input type="password" name="password2" placeholder="Please Enter Password again"
                      value="{{password2}}" required>
                  </div>
                  <div class="form-group">
<<<<<<< HEAD
                    <label>Address Line 1</label>
                    <input type="text" name="address1" placeholder="Block Number and Street No" value="{{address}}"
                      required>
=======
                    Profile photo:
                    <input type="file" id="file" name="file">
                  </div>
                  <div class="form-group">
                    <input type="text" name="address1" placeholder="Address Line 1" value="{{address}}" required>
>>>>>>> 2ae4dd6cce63c49ab84953dffffb7814ab6fd268
                  </div>
                  <div class="form-group">
                    <label>Address Line 2</label>
                    <input type="text" name="address2" placeholder="Floor Number and Unit Number" value="{{address2}}"
                      required>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text" name="city" placeholder="City" value="{{city}}" required>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="form-group">
                        <label>Postal Code</label>
                        <input type="text" name="postalcode" placeholder="S" value="{{postalcode}}" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Gender</label>
                    <select name="gender" value="{{gender}}" required>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email" value="{{email}}" required>
                  </div>
                  <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text" name="phoneno" placeholder="Phone Number" value="{{phoneno}}" required>
                  </div>
                  <div class="button-box">
                    <button type="submit"><span>Register</span></button>
                  </div>
                </form>
                <br>
                <h4>Or Register With: </h4>
                <div class="card social-block">
                  <div class="card-body">
                    <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
                      <i class="fab fa-google"></i>
                      Sign Up with Google
                    </a>
                  </div>
                </div>
                <br>
                <div class="card social-block">
                  <div class="card-body">
                    <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
                      <i class="fab fa-facebook"></i>
                      Sign Up with Facebook
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function showpassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>