
        <div class="row">
            <div class="col-lg-7">
                <div class="billing-info-wrap">
                    <form method="POST" id="thisForm" action="">
                        <h3>Billing Details</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20">
                    <div class="billing-info mb-20">
                        <form method="POST" id="thisForm" action="">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="col-lg-6 col-md-6">

                                    <label for="firstname">FirstName</label>
                                    <input type="text" name="first-name" placeholder="First Name"
                                        value="{{request.form.firstname }}">
          
                                        value="{{request.form.phone_number }}">
                                </div>
                            </div>
                        </div>
                        <!--                    <div class="checkout-account mb-50">-->
                        <!--                        <input class="checkout-toggle2" type="checkbox">-->
                        <!--                        <span>Create an account?</span>-->
                        <!--                    </div>-->
                        <!--                    <div class="checkout-account-toggle open-toggle2 mb-30">-->
                        <!--                        <input placeholder="Email address" type="email">-->
                        <!--                        <input placeholder="Password" type="password">-->
                        <!--                        <button class="btn-hover checkout-btn" type="submit">register</button>-->
                        <!--                    </div>-->
                        <div class="additional-info-wrap">
                            <div class="col-lg-12">
                                <div class="billing-info mb-20">
                                    <label for="order_notes">Additional Information</label>
                                    <input type="text" name="order_notes" placeholder="order_notes"
                                        value="{{request.form.order_notes }}">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-20">
                                    <label for="delivery_options">Delivery Options</label>
                                    <input type="text" name="delivery_options" placeholder="delivery_options"
                                        value="{{request.form.delivery_options }}">
                                </div>
                    </div>
                    <!--                    <div class="checkout-account mb-50">-->
                    <!--                        <input class="checkout-toggle2" type="checkbox">-->
                    <!--                        <span>Create an account?</span>-->
                    <!--                    </div>-->
                    <!--                    <div class="checkout-account-toggle open-toggle2 mb-30">-->
                    <!--                        <input placeholder="Email address" type="email">-->
                    <!--                        <input placeholder="Password" type="password">-->
                    <!--                        <button class="btn-hover checkout-btn" type="submit">register</button>-->
                    <!--                    </div>-->
                    <div class="additional-info-wrap">
                        <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <label for="order_notes">Additional Information</label>
                                <input type="text" name="order_notes" placeholder="order_notes"
                                    value="{{request.form.order_notes }}">
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-20">
                                    <label for="delivery_time">Delivery Time</label>
                                    <input type="text" name="delivery_time" placeholder="delivery_time"
                                        value="{{request.form.delivery_time }}">
                                </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <label for="delivery_options">Delivery Options</label>
                                <input type="text" name="delivery_options" placeholder="delivery_options"
                                    value="{{request.form.delivery_options }}">
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-20">
                                    <label for="delivery_date">Delivery Date</label>
                                    <input type="text" name="delivery_date" placeholder="delivery_date"
                                        value="{{request.form.delivery_date }}">
                                </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <label for="delivery_time">Delivery Time</label>
                                <input type="text" name="delivery_time" placeholder="delivery_time"
                                    value="{{request.form.delivery_time }}">
                            </div>
                            <div class="checkout-account-toggle open-toggle2 mb-30">
                                <a href="user/transaction_complete"><button class="btn-hover checkout-btn"
                                        type="submit">Confirm</button></a>
                                
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-20">
                                <label for="delivery_date">Delivery Date</label>
                                <input type="text" name="delivery_date" placeholder="delivery_date"
                                    value="{{request.form.delivery_date }}">
                            </div>
                        </div>
                        <div class="checkout-account-toggle open-toggle2 mb-30">
                            <a href="user/transaction_complete"><button class="btn-hover checkout-btn"
                                    type="submit">Confirm</button></a>

                        </div>
                    </div>
                    </form>
                    <div class="checkout-account mt-25">
                        <input class="checkout-toggle" type="checkbox">

                                </ul>
                            </div>
                            <div class="your-order-middle">
                                {{#each sess.myCart}}
                                <ul>
                                    <li><span class="order-middle-left"><a href=><i class="fa fa-times"></i></a></span>
                                        <span class="order-price"></span>
                                    {{!-- <span>{{this.itemId}}</span> --}}
                                    <li><span class="order-middle-left">{{this.itemname}}
                                        {{link text="   Remove" url="/deleteSessItem/" id=this.itemId}}
                                        {{!-- <a href="/deleteSessItem/{{this.itemId}}"><i class="fa fa-times"></i></a> --}}
                                        </span>
                                        <span class="order-price">{{this.subtotal}}</span>
                                    </li>
                                    <li style="margin-left:10px;">{{this.customqn}}</li>
                                    <li style="margin-left:15px;">{{this.custom}}</li>
                                </ul>
                                {{else}}
                                <ul>
                                    <li>Cart is empty!</li>
                                </ul>
                                {{/each}}

                                <div class="your-order-total">
                                    <ul>
                                        <li class="order-total">Total</li>
                                        <li></li>
                                        <li>{{this.total}}</li>
                                        
                                    </ul>
                                </div>
                                <!--                                 <p>Note: Self Collection is available only from 9am-6pm from monday to friday.</p>-->

                        </div>
                    </div>
                    <div class="Place-order mt-25">
                        <div id="smart-button-container">
                            <div style="text-align: center;">
                                <div id="paypal-button-container"></div>
                            </div>
                       <div id="smart-button-container">
                          <div style="text-align: center;">
                            <div id="paypal-button-container"></div>
                          </div>
                        </div>
                        <script src="https://www.paypal.com/sdk/js?client-id=YOUR_CLIENT_ID"> // Replace YOUR_CLIENT_ID with your sandbox client ID
                        </script>

                        <div id="paypal-button-container"></div>

                        <!-- Add the checkout buttons, set up the order and approve the order -->
                        <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=SGD" data-sdk-integration-source="button-factory"></script>
                          <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
                          <script>
                            function initPayPalButton() {
                              paypal.Buttons({


                                onApprove: function(data, actions) {
                                  return actions.order.capture().then(function(details) {
                                    window.location.replace("/transaction_complete");
                                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                    window.location.replace("/transaction_complete")
                                  });
                                },

                            }
                            initPayPalButton();
                          </script>
                        
                    </div>
                </div>
            </div>
