<style type="text/css">
  @import url("/css/review.css");
</style>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="contact-form" style="background-color: transparent; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="contact-title mb-30">
                        <h2>Updating Review for {{pdetails.name}}</h2>
                        *Required Field
                    </div>
                    <form class="contact-form-style" action="/customer/updatereview/{{itemid}}/{{id}}?_method=PUT" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">
                        <div class="row">
                            <div class="col-lg-12"><label>Ratings<span style="color:red;">*</span></label></div>
                            <div class="wrapper">
                              <input type="radio" id="r1" name="rg1" value="5" onclick="getRadioValue()">
                              <label for="r1">&#9733;</label>
                              <input type="radio" id="r2" name="rg1" value="4" onclick="getRadioValue()">
                              <label for="r2">&#9733;</label>
                              <input type="radio" id="r3" name="rg1" value="3" onclick="getRadioValue()">
                              <label for="r3">&#9733;</label>
                              <input type="radio" id="r4" name="rg1" value="2" onclick="getRadioValue()">
                              <label for="r4">&#9733;</label>
                              <input type="radio" id="r5" name="rg1" value="1" onclick="getRadioValue()">
                              <label for="r5">&#9733;</label>
                            </div>
                                <input class="form-control" id="stars" name="stars" type="hidden" value="{{review.stars}}">
                            <div class="col-lg-12">
                                <label for="review">Leave a Review</label>
                                <textarea id="review" name="review">{{review.review}}</textarea>
                            </div>
                            {{#if review.photo}}
                            <div class="col-lg-12">
                                <center><b>Current Review Image:</b><br>
                                <img src="/uploads/review/{{review.photo}}" width="200px" height="auto" alt="We apogolise that the current image is not showing up."></center><br>
                            </div>
                            {{/if}}
                            <div class="uploader">
                                <input id="file-upload" type="file" name="file" accept="image/*" />

                                <label for="file-upload" id="file-drag">
                                    <img id="file-image" src="#" alt="Preview" class="hidden">
                                    <div id="start">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    <div>Select an image file or drag here to change</div>
                                    <div id="notimage" class="hidden"><p style="color:red;">Invalid file type, please select an image</p></div>
                                    <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                                    </div>
                                    <div id="response" class="hidden">
                                    <div id="messages"></div>
                                    <progress class="progress" id="file-progress" value="1">
                                        <span>100</span>%
                                    </progress>
                                    </div>
                                </label>
                            </div>
                            <div class="col-lg-12">
                                <button class="submit" type="submit" style="float: right;">Submit</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
<br>

<script>
    // Get number of stars whenever clicked.
    function getRadioValue() {
        var radios = document.getElementsByName('rg1');
        for (var i = 0, length = radios.length; i < length; i++) {
          if (radios[i].checked) {
            $('#stars').val(radios[i].value);
            break;
          }
        }
    }

    // Set number of stars whenever onload
    function setRadioValue() {
        var radios = document.getElementsByName('rg1');
        var stars = document.getElementById("stars").value;
        var numStars = parseInt(document.getElementById('stars').value);
        if (numStars == 5) {
            radios[0].checked = true;
        }
        else if (numStars == 4) {
            radios[1].checked = true;
        }
        else if (numStars == 3) {
            radios[2].checked = true;
        }
        else if (numStars == 2) {
            radios[3].checked = true;
        }
        else if (numStars == 1) {
            radios[4].checked = true;
        }
    }

    setRadioValue();
</script>