{{#if pdetails}} 
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">

        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/homecust">Home</a>
                </li>
                <li>
                    <a href="/viewshops">View Shops</a>
                </li>
                <li>
                    <a href="/viewshops/{{pdetails.storename}}">{{pdetails.storename}}</a>
                </li>
                <li class="active">{{ pdetails.name }}</li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <form action="/chatwith/{{pdetails.storename}}" method="post">
                    <button style="border: 0; padding: 0; display: inline; background: none; text-decoration: underline;"><i class="pe-7s-chat"></i> Seek help from {{pdetails.storename}}</button>
                </form>
                <div class="product-details dec-img-wrap">
                    <img src="/uploads/products/{{pdetails.image}}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <h2>{{ pdetails.name }}</h2>
                    <div class="product-details-price">
                        {{#ifCond pdetails.price '==' discprice}}
                            <span>$ {{ money2dp pdetails.price }} </span>
                        {{else}}
                            <span>$ {{ money2dp discprice }}</span>
                            <span class="old">$ {{ money2dp pdetails.price }}</span>
                        {{/ifCond}}
                            
                        
                    </div>
                    <div class="pro-details-rating-wrap">
                        {{#ifCond avgRating '>' 0}}
                        {{avgRating}} stars  {{#times avgRating}}
                                                <span class="fa fa-star" style="color: orange;"></span>
                                            {{/times}}
                                            <!-- minusStars not working -->
                                            {{#minusStars avgRating}}
                                                <span class="fa fa-star"></span>
                                            {{/minusStars}}
                        {{else}}
                        <i>This item currently has no reviews.</i>
                        {{/ifCond}}
                    </div>
                    <div class="pro-details-list">
                        {{ pdetails.description }}
                    </div>

                    <form class="contact-form-style" id="my_form" action="" method="post">
                        <div class="pro-details-size-color  ">
                            <div class="pro-details-color-wrap">
                            {{#ifCond pdetails.customqn '!=' ""}}
                            <span>{{pdetails.customqn}}</span>
                            {{/ifCond}}
                                <div class="pro-details-color-content">
                                    {{#ifCond pdetails.customcat '==' "radiobtn"}}
                                    <select id="custom" name="custom" required="">
                                        <option value=""></option>
                                        {{#each choicesArray}}
                                            <option value="{{this}}">{{this}}</option>
                                        {{/each}}                         
                                    </select>
                                    {{/ifCond}}
                                    {{#ifCond pdetails.customcat '==' "textbox"}}
                                        <input type="text" id="custom" name="custom" required>
                                    {{/ifCond}}
                                </div>
                            </div>
                        </div>
                        
                        <div class="pro-details-quality">
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" type="text" name="qty" value="1" required>
                            </div>
                            <div class="pro-details-cart btn-hover">
                                <a href="javascript:{}" onclick="document.getElementById('my_form').submit(); return false;">Add To Cart</a>
                            </div>
                        </div>
                    </form>
                    <div class="pro-details-meta">
                        <span></span>

                    </div>
                    <div class="pro-details-social">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-90">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a class="active" data-toggle="tab" href="#des-details3">Reviews</a>
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details2" class="tab-pane active">
                    <div class="product-description-wrapper">
                        <p></p>
                    </div>
                </div>
                <div id="des-details1" class="tab-pane ">
                    <div class="product-anotherinfo-wrapper">
                        <ul>
                            <li><span>Languages Available</span></li>
                            <li><span>Day of Live Course</span></li>
                            <li><span>Materials</span> </li>
                        </ul>
                    </div>
                </div>
                <div id="des-details3" class="tab-pane active">
                    <div class="row">
                        <div class="col-lg-8" style="margin: 0 auto;">
                            <div class="review-wrapper">
                                <a href="/customer/review/{{pdetails.id}}">Click here to leave a review</a>
                                <br><br>
                                {{#each reviews}}
                                <div class="single-review">
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-left">
                                                <div class="review-name">
                                                    <h4>{{username}}</h4>
                                                </div>
                                                <div class="review-rating">
                                                    {{#times stars}}
                                                        <span class="fa fa-star" style="color: orange;"></span>
                                                    {{/times}}
                                                    <!-- minusStars not working -->
                                                    {{#minusStars stars}}
                                                        <span class="fa fa-star"></span>
                                                    {{/minusStars}}
                                                    
                                                </div>
                                                <a href="/customer/updatereview/{{../pdetails.id}}/{{id}}"><i class="fa fa-pencil" title="Update this Review"></i></a>
                                            </div>
                                            <div class="review-left">
                                                <a href="/customer/deletereview/{{../pdetails.id}}/{{id}}"><i class="fa fa-times" title="Delete this Review"></i></a>
                                            </div>
                                        </div>
                                        <div class="review-bottom">
                                            {{review}}
                                            <br>
                                            {{#if photo}}
                                            <a href="/uploads/review/{{photo}}"><img src="/uploads/review/{{photo}}" width="auto" height="120"></a>
                                            {{/if}}
                                        </div>
                                        <div class="review-bottom" style="font-size:10px">
                                            {{timestamp}}
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <a href=""><img src="" alt="" width="200" height="121"></a><br>
        Are you sure you want to delete  advertisement from
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
      </div>

    </div>
  </div>
</div>

<script>
 $('#myModal').modal('show');
</script>



<script>
    function scroll_to(div){
       if (div.scrollTop < div.scrollHeight - div.clientHeight)
            div.scrollTop += 10; // move down
    }
</script>

{{else}} 
    <br>
    <h3>We could not find a related product, please click through the proper links, thanks!</h3>
    <br>
{{/if}}
